<html>
<head>
<title>Sputnik Demo: <%= node.name %></title>
</head>
<body bgcolor=white>

<p>
<img src="dell.png">
<img src="opscode.png">
<img src="chef.png">
</p>
<p>
<img src="sputnik.png">
</p>
<h1>Sputnik Demo: <%= node.name %> on <%= node.ipaddress %></h1>

</body>
</html>
