<html>
<head>
<title>Sputnik Demo: <%= node.name %></title>
</head>
<body bgcolor=white>

<table border="0">
<tr>
<td>
<img src="dell.png">
</td>
<td>
<img src="sputnik.png">
</td>
<td>
<img src="opscode.png">
</td>
</tr>
<tr>
<td colspan=3>
<h1>Sputnik Demo: <%= node.name %> on <%= node.ipaddress %></h1>
</td>
</tr>
</table>
</body>
</html>
